div#action-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

div#action-buttons-wrapper button {
  margin: 5px;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  border-radius: 5px;

  background-color: var(--theme-accent-color);
  font-size: 1em;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

div#action-buttons-wrapper button:hover {
  background-color: var(--theme-accent-color-hover);
}

div#action-buttons-wrapper button#delete-button,
div#action-buttons-wrapper button#reproduction-delete-button {
  box-sizing: border-box;
  padding: 5px;
  border: none;
  border-radius: 5px;

  background-color: red;
  font-size: 1em;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

div#action-buttons-wrapper button#delete-button:hover,
div#action-buttons-wrapper button#reproduction-delete-button:hover {
  background-color: var(--theme-red-hover);
}

div#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.25);
}

div.popup {
  display: none;
  flex-direction: column;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  border-radius: 15px;

  background-color: white;
}

div.popup .popup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
}

div.popup .popup-header button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 1.25em;
  height: 1.25em;
  padding: 0;
  border: none;
  border-radius: 5px;

  font-size: 1.25em;
  font-weight: bold;
  background-color: red;
  color: #ffffff;
  cursor: pointer;
}

div.popup button#extend-medication,
div.popup button#remove-medication {

  box-sizing: border-box;
  width: 1.25em;
  height: 1.25em;
  padding: 0;
  border: none;
  border-radius: 5px;

  font-size: 1.25em;
  font-weight: bold;
  cursor: pointer;
}

div.popup button#extend-medication {
  background-color: green;
  color: #ffffff;
}

div.popup button#extend-medication:hover {
  background-color: var(--theme-green-hover);
}

div.popup button#remove-medication {
  background-color: red;
  color: #ffffff;
}

div.popup button#remove-medication:hover {
  background-color: var(--theme-red-hover);
}


div.popup div.btn-more-less {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 15px;

  justify-content: center;
  align-items: center;


}

div.popup .popup-header button:hover {
  background-color: var(--theme-red-hover);
}

div.popup form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div.popup form label,
div.popup form input,
div.popup form button,
div.popup form textarea,
div.popup form select {
  display: block;

  box-sizing: border-box;
  width: 100%;
}

div.popup form label {
  font-size: 0.75em;
}

div.popup form input,
div.popup form textarea {
  padding: 5px;
  margin-bottom: 15px;
  border: 2px solid var(--theme-accent-color);
  border-radius: 5px;
}

div.popup form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--theme-accent-color);
  color: #ffffff;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}



div#medication-extend {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

div.medication-bloc {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
  width: 100%;
}

div.popup select {
  padding: 5px;
  margin-bottom: 15px;
  border: 2px solid var(--theme-accent-color);
  border-radius: 5px;
}

div.popup form button:hover {
  background-color: var(--theme-accent-color-hover);
}

.insemination-item {
  width: 100%;
}

.insemination-item label,
.insemination-item input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

#reproduction-list,
#care-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reproduction-card,
.care-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  background: white;
}

.reproduction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.reproduction-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.item {
  display: grid;

  /* colonne fixe + colonne flexible */
  grid-template-columns: 180px 1fr;

  width: 100%;
}

.label {
  text-align: left;
  color: gray;
}

.value {
  text-align: left;
  font-weight: bold;
}

.details {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #eee;
  height: auto;
  width: auto;
}

.details-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.status {
  padding: 5px 10px;
  border-radius: 20px;
}

.pending {
  background: #ffe8b3;
}