div#action-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

div#action-buttons-wrapper button {
  margin: 5px;
}

div#action-buttons-wrapper button#change-button {
  box-sizing: border-box;
  padding: 5px;
  border: none;
  border-radius: 5px;

  background-color: var(--theme-accent-color);
  font-size: 1em;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

div#action-buttons-wrapper button#delete-button {
  box-sizing: border-box;
  padding: 5px;
  border: none;
  border-radius: 5px;

  background-color: #ff0000;
  font-size: 1em;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
