@import url("theme-wheat.css");

html, body {
  margin: 0;
  padding: 0;

  background-color: var(--app-background-color);
  font-family: "Liberation Sans", sans-serif;
}

nav {
  box-sizing: border-box;
  width: 21cm;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 15px;
  border-radius: 15px 15px 0 0;

  background-color: #555555;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a img {
  box-sizing: border-box;
  width: 1.5em;
  height: 1.5em;
}

main {
  box-sizing: border-box;
  width: 21cm;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;

  border: 2px solid var(--theme-accent-color);
  border-radius: 0 0 15px 15px;

  background-color: var(--theme-background-color);
}

main section h2 {
  box-sizing: border-box;
  border-bottom: 1px solid var(--theme-accent-color);
}
