@import url("theme-wheat.css");

html, body {
  margin: 0;
  padding: 0;

  background-color: var(--app-background-color);
  font-family: "Liberation Sans", sans-serif;
}

nav {
  box-sizing: border-box;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 15px;
  border-radius: 15px 15px 0 0;

  background-color: #555555;
}

nav button#narrow-menu-button {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a img {
  box-sizing: border-box;
  width: 1.5em;
  height: 1.5em;
}

main {
  box-sizing: border-box;
  width: 800px;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;

  border: 2px solid var(--theme-accent-color);
  border-radius: 0 0 15px 15px;

  background-color: var(--theme-background-color);
}

@media (max-width: 864px) {
  nav {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  nav button#narrow-menu-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: 1em;
    height: 1em;
    font-size: 3em;

    background: none;
    color: white;
    border: none;
    cursor: pointer;
  }

  nav ul {
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease;
  }

  main {
    width: 100%;
    border-radius: 0;
  }
}

main section h2 {
  box-sizing: border-box;
  border-bottom: 1px solid var(--theme-accent-color);
}

table {
  width: 100%;

  border: 2px solid var(--theme-accent-color);
}

table thead {
  background-color: var(--theme-accent-color);
}

table thead tr th {
  padding: 5px;
}

table thead tr th:last-child {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

table thead tr th button {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 1.25em;
  height: 1.25em;
  margin: 0;
  padding: 0;

  background-color: white;
  border: none;
  font-size: 1.25em;
  cursor: pointer;
}

table tbody tr {
  background-color: white;
}

table tbody tr:nth-of-type(2n) {
  background-color: #efefef;
}

table tbody tr td {
  padding: 5px;
  text-align: center;
}

section.collapsible h2 {
  user-select: none;
  cursor: pointer;
}

section.collapsible[aria-expanded="false"] h2::before {
  content: "\25b8";
}

section.collapsible[aria-expanded="true"] h2::before {
  content: "\25be";
}

section.collapsible[aria-expanded="false"] div {
  display: none;
}

section.collapsible[aria-expanded="true"] div {
  display: block;
}
