@import url("theme-wheat.css");

html, body {
  margin: 0;
  padding: 0;

  background-color: var(--app-bg-color);
}

main {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  max-width: 21cm;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;

  font-family: sans-serif;
}

nav {
  background-color: #555555;
  border-radius: 15px 15px 0 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  box-sizing: border-box;
  margin-right: 15px;
  padding: 0;

  list-style-type: none;
}

nav ul li {
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li#close {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: red;
  height: 1.5em;
  width: 1.5em;
  border-radius: 5px;
  font-weight: 900;
}

nav ul li#close:hover {
  background-color: #ff5555;
}

nav ul li#close:hover a {
  text-decoration: none;
}

nav ul li a {
  color: white;
  font-family: "Liberation Sans", sans-serif;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section#content {
  background-color: var(--form-background-color);

  box-sizing: border-box;
  padding: 15px;
  border: 2px solid var(--theme-accent-color);
  border-radius: 0 0 15px 15px;
}

section#content form {
  display: flex;
  flex-direction: column;

  background-color: white;

  box-sizing: border-box;
  width: 50%;
  margin-left: 25%;
  padding: 5px;
  border: 2px solid var(--theme-accent-color);
  border-radius: 5px;
}

section#content form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section#content form div label,
section#content form div input {
  display: block;
  box-sizing: border-box;
  width: 50%;
  margin-top: 2px;
  margin-bottom: 2px;
}

section#content form div input[type="number"] {
  border: 1px solid #ccc;
  padding: 5px;
}

section#content form input[type="file"] {
  box-sizing: border-box;
  border: 2px dashed #ccc;
  padding: 5px;
  cursor: pointer;
}

section#content form button[type="submit"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;
  padding: 5px;
  border: none;

  background-color: var(--theme-accent-color);
  color: white;
  font-weight: bold;

  cursor: pointer;
}
