<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
  
    <!-- Favicons -->
    <!-- <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='images/apple-touch-icon.png') }}" rel="apple-touch-icon">
    -->
  
    <!-- Vendor CSS Files 
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  -->
    <!-- Main CSS File -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: Impact
    * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>
  <body class='{% block body_class %} {% endblock %}'>
    <header id="header" class="header fixed-top">
    
        <div class="branding d-flex align-items-cente">
    
          <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
              <!-- Uncomment the line below if you also wish to use an image logo -->
              <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
              <h1 class="sitename">BioFarm-Monitor</h1>
              <span>.</span>
            </a>
    
            <nav id="navmenu" class="navmenu">
              <ul>
                <li><a href="/" class="active">Accueil<br></a></li>
                <li><a href="/pharmacie">Pharmacie</a></li>
                <li><a href="/reproduction">Reproduction</a></li>
                <li><a href="/#Remove">Supprimer Vaches</a></li>
                <!--
                <li><a href="/blog">Articles</a></li>
                <li><a href="/#contact">Contact</a></li>
                -->
              </ul>
              <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
    
          </div>
    
        </div>
        
      </header>
      
      <main class="main">
      <!-- Hero Section -->
      <section class="hero section accent-background">
        <div class="container position-relative">
          <div class="row gy-5 justify-content-between">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
              <h2><span class="accent">{% block page_title %} {% endblock page_title %}</span></h2>
            <div class="col-lg-5 order-1 order-lg-2">
              <img src="{{ url_for('static', filename='images/logo2.png') }}" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero Section -->
        {% block content %} 
        
        {% endblock %}
    </main>
  </body>

{% block JS %}
{% endblock %}
</html>