<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %} {% endblock %}</title>

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body class={% block body_class %} {% endblock %}>
    <main>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Accueil</a></li>
          <li><a href="/pharmacie">Pharmacie</a></li>
          <li><a href="/reproduction">Reproduction</a></li>
          <li><a href="/cow_liste">Liste des vaches</a></li>
          <li id="close"><a href="/logout">&times;</a></li>

          <!--
          <li><a href="/blog">Articles</a></li>
          <li><a href="/#contact">Contact</a></li>
          -->
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <section id="content">
        {% block content %}

        {% endblock %}
      </section>
    </main>
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>

{% block JS %}
{% endblock %}
</html>
