<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {% block title %}{% endblock title %}
    </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <nav>
      <button id="narrow-menu-button">
        &equiv;
      </button>

      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/herd">Troupeau</a></li>
        <li><a href="/reproduction">Reproduction</a></li>
        <li><a href="/medicine_cabinet">Pharmacie</a></li>
        <li><a href="/settings">Paramètres</a></li>
        <li>
          <a href="/logout">
            <img src="{{ url_for('static', filename='img/logout.svg') }}" alt="Logout icon">
          </a>
        </li>
      </ul>
    </nav>

    <main>
      {% block content %}
      {% endblock content %}
    </main>

    <script>
      const menuButton = document.querySelector("button#narrow-menu-button");
      const menu = document.querySelector("nav ul");

      menuButton.addEventListener("click", () => {
        if (menu.style.height == "50vh") {
          menu.style.height = "0";
        } else {
          menu.style.height = "50vh";
        }
      });
    </script>

    {% block js %}
    {% endblock js %}
  </body>
</html>
