{% extends 'base.html' %}

{% block title %}Cow {{ cow.cow_id }} | BioFarm Monitor{% endblock title %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cow.css') }}">

  <meta name="cow-info" content="{{ cow.to_json() }}">
{% endblock head %}

{% block content %}
  <h1>Vache numéro {{ cow.cow_id }} </h1>

  <section>
    <ul>
      <li>Nom&nbsp;: {{ cow.name }}</li>
      <li>Date de naissance&nbsp;: {{ date_to_str(cow.born_date) }}</li>
    </ul>

    <div id="action-buttons-wrapper">
      <button id="change-button">Modifier</button>
      <button id="delete-button" cow="{{ cow.cow_id }}">Supprimer</button>
    </div>
  </section>

  <section class="collapsible" aria-expanded="false">
    <h2>&nbsp;Historique de reproduction</h2>

    <div class="collapsible-content">
      <span>Aucun élément</span>
    </div>
  </section>

  <section class="collapsible" aria-expanded="false">
    <h2>&nbsp;Historique médical</h2>

    <div class="collapsible-content">
      <span>Aucun élément</span>
    </div>
  </section>

  <div id="overlay"></div>

  <div class="popup">
    <div class="popup-header">
      <h3>Modifier la vache {{ cow.cow_id }}</h3>
      <button>&times;</button>
    </div>

    <form action="{{ url_for('cow.change') }}" method="POST">
      <label for="name">Nom de la vache</label>
      <input name="name" type="text" autocomplete="off" placeholder={{ cow.name }}>

      <label for="birthdate">Date de naissance</label>
      <input name="birthdate" type="text" placeholder={{ cow.born_date }} onfocus="this.type='date'">

      <input type="hidden" name="cow_id" value="{{ cow.cow_id }}">

      <button type="submit">Modifier</button>
    </form>
  </div>
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/cow.js') }}"></script>
{% endblock js %}
