{% extends 'base.html' %}

{% block title %}Troupeau | BioFarm Monitor{% endblock title %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/herd.css') }}">
{% endblock head %}

{% block content %}
  <h1>Gestion du troupeau</h1>

  <section>
    <h2>Liste des vaches</h2>

    <table cellspacing="0">
      <thead>
        <tr>
          <th>Identifiant</th>
          <th>Date de naissance</th>
          <th>
            <button id="add-cow-button">+</button>
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </section>

  <div id="overlay"></div>

  <div class="popup">
    <div class="popup-header">
      <h3>Acquisition d'une vache</h3>
      <button>&times;</button>
    </div>

    <p>ATTENTION&nbsp;: ce fromulaire sert à enregistrer une acquisition et non
      une naissance.</p>

    <form action="{{ url_for('repro.add_cow') }}" method="POST">
      <label for="id">Numéro de la vache&nbsp;:</label>
      <input name="id" type="number" required>

      <label for="birth_date">Date de naissance&nbsp;:</label>
      <input name="birth_date" type="date" required>

      <button type="submit">Ajouter</button>
    </form>
  </div>

  <template id="herd-table-template">
    <tr>
      <td><a>Cow ID</a></td>
      <td>Date de naissance</td>
      <td></td>
    </tr>
  </template>
{% endblock content %}

{% block js %}
  <script src="{{ url_for('static', filename='js/herd.js') }}"></script>
{% endblock js %}
