{% extends 'base.html' %}

{% block title %}
  Pharmacie
{% endblock %}

{% block body_class %}
  "index-page"
{% endblock %}

{% block content %}

  <!-- New Care Section -->
  <section id="Care" class="contact section">
    <div class="section-title">
      <h2>Cow Care</h2>
      <p>Ajouter ici les nouveaux traitements</p>
    </div>

    <div class="row justify-content-center">
      <form id="form-care" action="{{ url_for('pharma.update_care') }}" method="POST" enctype="multipart/form-data" class="ajax-form php-email-form">
        <div class="row row-cols-1 row-cols-lg-4 g-3 justify-content-center">

          {# Numéro Vache #}
          <div class="col d-flex flex-column align-items-center text-center">
            <label for="id" class="form-label">Numéro :</label>
            <input type="number" name="id" id="id" class="form-control" required />
          </div>

          {# Date de traitement #}
          <div class="col d-flex flex-column align-items-center text-center">
            <label for="care_date" class="form-label">Date de traitement :</label>
            <input type="date" name="care_date" id="care_date" class="form-control" required />
          </div>

          {# traitement #}
          <div class="col d-flex flex-column align-items-center text-center">
            {% for nb_care in range(get_pharma_len(user.id)) %}
              <label for="medic_{{ nb_care + 1 }}" class="form-label">Médicament {{ nb_care + 1 }} :</label>
              <div class="input-group mb-2">
                <select name="medic_{{ nb_care + 1 }}" id="medic_{{ nb_care + 1 }}" class="form-select">
                  {% for care in get_pharma_list(user.id) %}
                    <option value="{{ care }}">{{ care }}</option>
                  {% endfor %}
                </select>
                <input type="number" name="medic_{{ nb_care + 1 }}_nb" id="medic_{{ nb_care + 1 }}_nb" placeholder="nb doses|ml" min="1" class="form-control" />
              </div>
            {% endfor %}
          </div>

          {# info complémentaire traitement #}
          <div class="col d-flex flex-column align-items-center text-center">
            <label for="care_info">information de traitement :</label>
            <input type="text" name="care_info" id="care_info" class="form-control"/>
          </div>

          {# button submit #}
          <div class="col d-flex flex-column align-items-center text-center">
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </div>

        </div>
      </form>
      <div id="message-form-care" class="alert" style="display: none;"></div>
    </div>
  </section>
  <!-- End New Care Section -->

  <!-- Pharma Liste Section -->
  <section id="Pharma" class="contact section">
    <div class="container section-title">
      <h2>Add In Pharma Liste</h2>
      <p>Ajoutez ici les médicaments que vous utiliserez</p>
    </div>

    <div class="row justify-content-center">
      <form id="form-pharma" action="{{ url_for('pharma.add_medic_in_pharma_list') }}" method="POST" enctype="multipart/form-data" class="ajax-form php-email-form">
        <div class="row row-cols-1 row-cols-lg-2 g-3 justify-content-center">

          {# medic a ajouter a la list #}
          <div class="col d-flex flex-column align-items-center text-center">
            <label for="medic" class="form-label">medicament :</label>
            <input type="text" name="medic" id="medic" class="form-control" required />
          </div>

          {# selection de l'unité #}
          <div class="col d-flex flex-column align-items-center text-center">
            <label for="medic_unit" class="form-label">Médicament unité :</label>
            <select name="medic_unit" id="medic_unit" class="form-select">
              <option value="dose">dose</option>
              <option value="ml">millilitres</option>
            </select>
          </div>

          {# button submit #}
          <div class="col d-flex flex-column align-items-center text-center">
            <button type="submit" class="btn btn-primary">Ajouter médicament</button>
          </div>

        </div>
      </form>
      <div id="message-form-pharma" class="alert" style="display: none;"></div>
    </div>
  </section>
  <!-- End Pharma Liste Section -->

  <!-- prescription Section -->
  <section id="prescription" class="contact section">
    <div class="container section-title">
      <h2>New prescription</h2>
      <p>Ajoutez ici les nouvelles ordonnances vétérinaires</p>
    </div>

    <div class="row justify-content-center">
      <form id="form-prescription" action="{{ url_for('pharma.add_prescription') }}" method="POST" class="ajax-form php-email-form">
        <div class="row row-cols-1 row-cols-lg-2 g-3 justify-content-center">

          {# date de l'ordonnance #}
          <div class="col d-flex flex-column align-items-center text-center">
            <label for="prescription_date" class="form-label">Date de l'ordonnance :</label>
            <input type="date" name="prescription_date" id="prescription_date" class="form-control" required />
          </div>

          {# medicament sur l'ordonnance #}
          <div class="col d-flex flex-column align-items-center text-center">
            {% for nb_care in range(get_pharma_len(user.id)) %}
              <label for="medic_{{ nb_care + 1 }}" class="form-label">Médicament {{ nb_care + 1 }} :</label>
              <div class="input-group mb-2">
                <select name="medic_{{ nb_care + 1 }}" id="medic_{{ nb_care + 1 }}" class="form-select">
                  {% for care in get_pharma_list(user.id) %}
                    <option value="{{ care }}">{{ care }}</option>
                  {% endfor %}
                </select>
                <input type="number" name="medic_{{ nb_care + 1 }}_nb" id="medic_{{ nb_care + 1 }}_nb" placeholder="Nombre de doses" class="form-control" min="1" />
              </div>
            {% endfor %}
          </div>

          {# button submit #}
          <div class="col d-flex flex-column align-items-center text-center">
            <button type="submit" class="btn btn-primary">Ajouter ordonnance</button>
          </div>

        </div>
      </form>
      <div id="message-form-prescription" class="alert" style="display: none;"></div>
    </div>
  </section>
  <!-- End prescription Section -->

  <!-- DLC Section -->
  <section id="dlc_left" class="contact section">
    <div class="container section-title">
      <h2>Médicament DLC</h2>
      <p>Sortez ici les médicaments pour DLC passée</p>
    </div>

    <div class="row justify-content-center">
      <form id="form-dlc_left" action="{{ url_for('pharma.add_dlc_left') }}" method="POST" class="ajax-form php-email-form">
        <div class="row row-cols-1 row-cols-lg-2 g-3 justify-content-center">

          {# date de la sortie #}
          <div class="col d-flex flex-column align-items-center text-center">
            <label for="prescription_date" class="form-label">Date de l'ordonnance :</label>
            <input type="date" name="prescription_date" id="prescription_date" class="form-control" required />
          </div>

          {# medicament sortie #}
          <div class="col d-flex flex-column align-items-center text-center">
            {% for nb_care in range(get_pharma_len(user.id)) %}
              <label for="medic_{{ nb_care + 1 }}" class="form-label">Médicament {{ nb_care + 1 }} :</label>
              <div class="input-group mb-2">
                <select name="medic_{{ nb_care + 1 }}" id="medic_{{ nb_care + 1 }}" class="form-select">
                  {% for care in get_pharma_list(user.id) %}
                    <option value="{{ care }}">{{ care }}</option>
                  {% endfor %}
                </select>
                <input type="number" name="medic_{{ nb_care + 1 }}_nb" id="medic_{{ nb_care + 1 }}_nb" placeholder="Nombre de doses" class="form-control" min="1" />
              </div>
            {% endfor %}
          </div>

          {# button submit #}
          <div class="col d-flex flex-column align-items-center text-center">
            <button type="submit" class="btn btn-primary">Sortir pour DLC</button>
          </div>

        </div>
      </form>
      <div id="message-form-dlc_left" class="alert" style="display: none;"></div>
    </div>
  </section>
  <!-- End DLC Section -->

  <!-- Stock bref Section -->
  <section id="stock_bref" class="contact section">
    <div class="container section-title">
      <h2>Stock Bref</h2>
      <p>Ici vos stocks de médicaments en temps réel</p>
    </div>

    <div class="row justify-content-center">
      <div class="php-email-form">
        <div class="row row-cols-1 row-cols-lg-1 g-3 justify-content-center">

          {# stock de l'année à afficher #}
          <div class="col-12">
            <div id="stock-result" class="mt-3"></div>
          </div>

          {# button call #}
          <div class="col d-flex flex-column align-items-center text-center">
            <button id="load-stock" class="btn btn-primary" type="submit">Afficher le stock</button>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- END Stock bref Section -->

  <!-- Stock history Section -->
  <section id="stock_history" class="contact section">
    <div class="container section-title">
      <h2>Stock History</h2>
      <p>Ici l'historique de votre stock de médicaments</p>
    </div>

    <div class="row justify-content-center">
      <div class="php-email-form">

        {# button redirection #}
        <div class="col d-flex flex-column align-items-center text-center">
          <a href="{{ url_for('pharma.stock_details') }}"><button class="btn btn-primary" type="submit">Afficher l'historique des stocks</button></a>
        </div>

      </div>
    </div>
  </section>
  <!-- END Stock bref Section -->

  <!-- END export_stock Section -->
  <section id="export_stock" class="contact section">
    <div class="container section-title">
      <h2>export_stock</h2>
      <p>Téléchargez ici le récapitulatif annuel</p>
    </div>

    <div class="row justify-content-center">
      <form id="form-export_stock" action="{{ url_for('pharma.download') }}" class="php-email-form" method="POST" enctype="multipart/form-data">
        <div class="row row-cols-1 row-cols-lg-1 g-3 justify-content-center">

          {# date de l'année à exporter #}
          <div class="col d-flex flex-column align-items-center text-center">
            <label for="export_year" class="form-label">Date des stocks à exporter :</label>
            <input type="number" name="export_year" id="export_year" min="2000" max="2099" class="form-control" required />
          </div>

          {# button download #}
          <div class="col d-flex flex-column align-items-center text-center">
            <button type="submit" class="btn btn-primary">Téléchargez stock</button>
          </div>

        </div>
      </form>
      <div id="message-form-export_stock" class="alert" style="display: none;"></div>
    </div>

  </section>
  <!-- END export_stock Section -->

  <!-- END download_remaining_care Section -->
  <section id="download_remaining_care" class="contact section">
    <div class="container section-title">
      <h2>export_traitement</h2>
      <p>Téléchargez ici le récapitulatif annuel</p>
    </div>

    <div class="row justify-content-center">
      <form id="form-download_remaining_care" action="{{ url_for('pharma.download_remaining_care') }}" class="php-email-form" method="POST" enctype="multipart/form-data">
        <div class="row row-cols-1 row-cols-lg-1 g-3 justify-content-center">

          {# button download #}
          <div class="col d-flex flex-column align-items-center text-center">
            <button type="submit" class="btn btn-primary">Téléchargez traitement</button>
          </div>

        </div>
      </form>
      <div id="message-form-download_remaining_care" class="alert" style="display: none;"></div>

    </div>
  </section>
  <!-- END export_stock Section -->

  <!-- init stock Section -->
  <section id="init_stock" class="contact section">
    <div class="container section-title">
      <h2>Initialisation stock</h2>
      <p>Sortez ici les médicaments pour DLC passée</p>
    </div>

    <div class="row justify-content-center">
      <form id="form-init_stock" action="{{ url_for('pharma.init_stock') }}" method="POST" class="ajax-form php-email-form">
        <div class="row row-cols-1 row-cols-lg-2 g-3 justify-content-center">

          {# date de l'année précédente #}
          <div class="col d-flex flex-column align-items-center text-center">
            <label for="prescription_date" class="form-label">Date des stock (année précédente) :</label>
            <input type="number" name="prescription_date" id="prescription_date" min="2000" max="2099" class="form-control" required />
          </div>

          {# Médicament stock #}
          <div class="col d-flex flex-column align-items-center text-center">
            {% for nb_care in range(get_pharma_len(user.id)) %}
              <label for="medic_{{ nb_care + 1 }}" class="form-label">Médicament {{ nb_care + 1 }} :</label>
              <div class="input-group mb-2">
                <select name="medic_{{ nb_care + 1 }}" id="medic_{{ nb_care + 1 }}" class="form-select">
                  {% for care in get_pharma_list(user.id) %}
                    <option value="{{ care }}">{{ care }}</option>
                  {% endfor %}
                </select>
                <input type="number" name="medic_{{ nb_care + 1 }}_nb" id="medic_{{ nb_care + 1 }}_nb" placeholder="Nombre de doses" class="form-control" min="1" />
              </div>
            {% endfor %}
          </div>

          {# button submit #}
          <div class="col d-flex flex-column align-items-center text-center">
            <button type="submit" class="btn btn-primary">Initialisation stock</button>
          </div>

        </div>
      </form>
      <div id="message-form-init_stock" class="alert" style="display: none;"></div>
    </div>

  </section>
  <!-- End init stock Section -->
{% endblock %}

{% block JS %}
  <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
{% endblock %}
