{% extends 'base.html' %}

{% block title %}
  reproduction
{% endblock title %}

{% block body_class %}
  "index-page"
{% endblock body_class %}
{% block page_title %}Reproduction{% endblock page_title %}
{% block content %}

<!-- New Cow Section -->
  <section id="new_cow_section" class="contact section">
    <div class="container section-title">
      <h2>New Cow</h2>
      <p>Ajouter ici les nouvelles vaches</p>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">

          <form id="form-new_cow" action="{{ url_for('upload_cow') }}" method="POST" enctype="multipart/form-data" class="ajax-form php-email-form">
            <div class="row gy-4">
              
              {# numero vache a Ajouter #}
              <div class="col-md-6">
                <label for="id" class="form-label">Numéro :</label>
                <input type="number" name="id" id="id" class="form-control" required />
              </div>

              {# button submit #}
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Ajouter</button>
              </div>

            </div>
          </form>
          <div id="message-form-new_cow" class="alert" style="display: none;"></div>
        </div>
      </div>
    </div>
  </section>
<!-- End New Cow Section -->

<!-- Remove cow Section -->
  <section id="Remove" class="contact section">
    <div class="container section-title">
      <h2>Remove Cow</h2>
      <p>supprimer ici les Vaches</p>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">

          <form id="form-remove_cow" action="{{ url_for('remove_cow') }}" method="POST" enctype="multipart/form-data" class="ajax-form php-email-form">
            <div class="row gy-4">

              {# numero vache a supprimer #}
              <div class="col-md-6">
                <label for="id" class="form-label">Numéro :</label>
                <input type="number" name="id" id="id" class="form-control" required />
              </div>

              {# button submit #}
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">supprimer</button>
              </div>

            </div>
          </form>
          <div id="message-form-remove_cow" class="alert" style="display: none;"></div>
        </div>
      </div>
    </div>
  </section>
<!-- End Remove cow Section -->

{% endblock content %}
{% block JS %}
  <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
{% endblock JS %}