{% extends 'base.html' %}
{% block title %}
  Détail des Stocks
{% endblock title %}
{% block body_class %}
  "index-page"
{% endblock body_class %}

{% block page_title %}Détaile des Stock{% endblock page_title %}
{% block content %}

  {% for date, care_dict, source in get_hystory_pharmacie() %}
  <section id="stock_history" class="contact section">
    <div class="container section-title">
      <h2><strong>{{source}}</strong></h2>
      <p><strong>Date :</strong> {{ date.strftime("%d/%m/%Y") }}<br></p>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="php-email-form">
            <div class="row gy-4">

              <div class="col-12">
                <strong>Médicaments :</strong>
                <ul>
                    {% for medicament, quantite in care_dict.items() %}
                    <div class="row g-2 align-items-center mb-3">
                      <div class="col-md-6">
                        <li>{{ medicament }} : {{ quantite }}</li>
                      </div>
                    </div>
                    {% endfor %}
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </section>
  {% endfor %}



{% endblock content %}
{% block JS %}
  <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
{% endblock JS %}