{% extends 'base.html' %}
{% block title %}
  upload
{% endblock %}
{% block body_class %}
  "index-page"
{% endblock %}
{% block content %}
  {% if anchor %}
    <script>
      window.location.hash = '{{anchor}}'
    </script>
  {% endif %}

  <!-- Hero Section -->
  <section class="hero section accent-background">
    <div class="container position-relative">
      <div class="row gy-5 justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2><span class="accent">Update-Page</span></h2>

          {% if success_message %}
            <h2><span class="accent"><div class="alert alert-success" role="alert">{{ success_message }}</div></span></h2>
          {% endif %}
          {% if error_message %}
            <h2><span class="accent"><div class="alert alert-danger" role="alert">{{ error_message }}</div></span></h2>
          {% endif %}
        </div>
        <div class="col-lg-5 order-1 order-lg-2">
          <img src="{{ url_for('static', filename='images/logo2.png') }}" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <!-- New Cow Section -->
  <section id="New_Cow" class="contact section">
    <div class="container section-title">
      <h2>New Cow</h2>

      {% if success_message_New_Cow %}
        <h2><div class="alert alert-success" role="alert">{{ success_message }}</div></h2>
      {% endif %}
      {% if error_message_New_Cow %}
        <h2><div class="alert alert-danger" role="alert">{{ error_message }}</div></h2>
      {% endif %}

      <p>Ajouter ici les nouvelles vaches</p>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <form action="{{ url_for('upload_cow') }}" method="POST" enctype="multipart/form-data" class="php-email-form">
            <div class="row gy-4">
              <div class="col-md-6">
                <label for="id" class="form-label">Numéro :</label>
                <input type="number" name="id" id="id" class="form-control" required />
              </div>

              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Ajouter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End New Cow Section -->

  <!-- New Care Section -->
  <section id="Care" class="contact section">
    <div class="container section-title">
      <h2>Cow Care</h2>
      {% if success_message_New_Care %}
        <h2><div class="alert alert-success" role="alert">{{ success_message }}</div></h2>
      {% endif %}
      {% if error_message_New_Care %}
        <h2><div class="alert alert-danger" role="alert">{{ error_message }}</div></h2>
      {% endif %}
      <p>Ajouter ici les nouveaux traitements</p>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <form action="{{ url_for('update_care') }}" method="POST" enctype="multipart/form-data" class="php-email-form">
            <div class="row gy-4">
              <div class="col-md-6">
                <label for="id" class="form-label">Numéro :</label>
                <input type="number" name="id" id="id" class="form-control" required />
              </div>

              <div class="col-md-6">
                <label for="care_medic" class="form-label">traitement :</label>
                <input type="text" name="care_medic" class="form-control" id="care_medic" required="" />
              </div>

              <div class="col-md-6">
                <label for="care_date" class="form-label">Date de traitement :</label>
                <input type="date" name="care_date" id="care_date" class="form-control" required />
              </div>

              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Envoyer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End New Care Section -->

  <!-- Remove cow Section -->
  <section id="Remove" class="contact section">
    <div class="container section-title">
      <h2>Remove Cow</h2>
      {% if success_message_Remove %}
        <h2><div class="alert alert-success" role="alert">{{ success_message }}</div></h2>
      {% endif %}
      {% if error_message_Remove %}
        <h2><div class="alert alert-danger" role="alert">{{ error_message }}</div></h2>
      {% endif %}
      <p>supprimer ici les Vaches</p>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <form action="{{ url_for('remove_cow') }}" method="POST" enctype="multipart/form-data" class="php-email-form">
            <div class="row gy-4">
              <div class="col-md-6">
                <label for="id" class="form-label">Numéro :</label>
                <input type="number" name="id" id="id" class="form-control" required />
              </div>

              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">supprimer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Remove cow Section -->

  <!-- Pharma Liste Section -->
    <section id="Pharma" class="contact section">
      <div class="container section-title">
        <h2>Add In Pharma Liste</h2>
        {% if success_message_Pharma %}
          <h2><div class="alert alert-success" role="alert">{{ success_message }}</div></h2>
        {% endif %}
        {% if error_message_Pharma %}
          <h2><div class="alert alert-danger" role="alert">{{ error_message }}</div></h2>
        {% endif %}
        <p>Ajouter ici les medicament que vous utiliserait</p>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <form action="{{ url_for('add_medic_in_pharma_liste') }}" method="POST" enctype="multipart/form-data" class="php-email-form">
              <div class="row gy-4">
                <div class="col-md-6">
                  <label for="medic" class="form-label">medicament :</label>
                  <input type="text" name="medic" id="medic" class="form-control" required />
                </div>

                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  <!-- End Pharma Liste Section -->

  <!-- prescription Section -->
    <section id="prescription" class="contact section">
      <div class="container section-title">
        <h2>New prescription</h2>
        {% if success_message_prescription %}
          <h2><div class="alert alert-success" role="alert">{{ success_message }}</div></h2>
        {% endif %}
        {% if error_message_prescription %}
          <h2><div class="alert alert-danger" role="alert">{{ error_message }}</div></h2>
        {% endif %}
        <p>Ajouter ici les nouvelles ordonnances vétérinaires</p>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <form action="{{ url_for('add_prescription') }}" method="POST" class="php-email-form">
              <div class="row gy-4">
                <div class="col-md-6">
                  <label for="prescription_date" class="form-label">Date de l'ordonnance :</label>
                  <input type="date" name="prescription_date" id="prescription_date" class="form-control" required />
                </div>

                <div class="col-12">
                  {% for nb_care in range(get_pharma_len()) %}
                    <label for="medic_{{ nb_care+1 }}" class="form-label">Médicament {{ nb_care+1 }} :</label>
                    <div class="row g-2 align-items-center mb-3">
                      <div class="col-md-6">
                        <select name="medic_{{ nb_care+1 }}" id="medic_{{ nb_care+1 }}" class="form-select">
                          {% for care in get_pharma_liste() %}
                            <option value="{{ care }}">{{ care }}</option>
                          {% endfor %}
                        </select>
                        <input
                          type="number"
                          name="medic_{{ nb_care+1 }}_nb"
                          id="medic_{{ nb_care+1 }}_nb"
                          class="form-control"
                          placeholder="Nombre de doses"
                          min="1"
                        />
                      </div>
                    </div>
                  {% endfor %}
                </div>

                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>
  <!-- End Remove cow Section -->
{% endblock %}

{% block JS %}
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>

  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
